<h2><%= @blog.title %></h2>
<h4>By: <%= @blog.user.email %></h4>

<h2><%= @post.title %></h2>

<p><%= @post.content %></p>

<hr>
<h4>Comments</h4>
<%= @post.comments.each do |comment| %>
  <p>
    Posted by: <%= comment.user.email %>
    <br>
    <%= comment.content %>
  </p>
  <br>
<% end %>